.master {
    margin-top: 10vh;

    > :first-child {
        margin-bottom: 2.5rem;
    }
}

.row {
    margin-right: auto;
    margin-left: auto;
    max-width: 960px;
}

button {
    &.modal-button {
        margin-top: 2.5rem;
        width: 80px;
    }

    &#status-button,
    &#remove-button {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
        font-size: .75rem;
    }

    &#status-button {
        width: 4rem;
    }

    &#remove-button {
        width: 5rem;
    }    
}

footer {
    height: 3.5rem;
}

.hide-element {
    display: none;
}

#github {
    height: 1.8rem;
    width: auto;
    transition: 0.3s;
}

#github:hover {
    transform: scale(1.1);
}