.master {
    margin-top: 10vh;

    > :first-child {
        margin-bottom: 2.5rem;
    }
}

.row {
    margin-right: auto;
    margin-left: auto;
    max-width: 960px;
}

button {
    &.modal-button {
        margin-top: 3vh;
        width: 80px;
    }

    &#status-button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 55px;
        height: 30px;
    }
}

#github {
    height: 1.5rem;
    width: auto;
}

footer {
    height: 3.5rem;
}